In [39]:
import pandas as pd

In [69]:
hp = pd.read_csv('../datasets/happiness_cleaned.csv')

In [70]:
empl = pd.read_csv('../Cleaning/UNEMPLOYMENT RATE 2017.csv',sep=';', index_col = 0)

In [71]:
empl = empl.reset_index()

In [72]:
empl

                    Country  Unemployment_rate
0               Afghanistan               1.56
1                   Albania              13.75
2                   Algeria              12.00
3                    Angola               7.14
4                 Argentina               8.35
5                   Armenia              17.83
6                 Australia               5.59
7                   Austria               5.50
8                Azerbaijan               5.00
9                   Bahamas              12.38
10                  Bahrain               0.95
11               Bangladesh               4.37
12                 Barbados               9.49
13                  Belarus               5.65
14                  Belgium               7.09
15                   Belize               9.00
16                    Benin               2.18
17                   Bhutan               2.17
18                  Bolivia               2.17
19   Bosnia and Herzegovina              20.47
20                 Botswana              17.63
21                   Brazil              12.83
22                   Brunei               9.32
23                 Bulgaria               6.15
24             Burkina Faso               6.01
25          Burma (Myanmar)               1.55
26                  Burundi               1.50
27                 Cambodia               1.06
28                 Cameroon               3.36
29                   Canada               6.34
..                      ...                ...
150                   Spain              17.22
151               Sri Lanka               4.18
152                   Sudan              12.77
153                Suriname               7.60
154               Swaziland              22.34
155                  Sweden               6.72
156             Switzerland               4.80
157                   Syria               8.03
158              Tajikistan              10.74
159                Tanzania               1.94
160                Thailand               0.63
161                    Togo               1.66
162                   Tonga               1.00
163     Trinidad and Tobago               2.82
164                 Tunisia              15.38
165                  Turkey              10.82
166            Turkmenistan               3.69
167                  Uganda               1.70
168                 Ukraine               9.51
169    United Arab Emirates               2.46
170          United Kingdom               4.34
171                 Uruguay               7.89
172                     USA               4.36
173              Uzbekistan               4.97
174                 Vanuatu               5.42
175               Venezuela               7.42
176                 Vietnam               1.89
177                   Yemen              13.18
178                  Zambia               7.21
179                Zimbabwe               4.94

[180 rows x 2 columns]

In [100]:
# I'm going to create an index of employment where:
# If the unemplyment rate is higher than 22%, the index will be 0.
# If the unemployment is higher than 15& the index will be 0.25.
# If the unemployment is higher or equal to 10%, the index will be 0.5.
# If the unemployment is higher than 6, the index will be 0.75.
# If the unemployment is higher lower than 6, the index will be a 1.

In [88]:
def assig_values(x):
    if x['Unemployment_rate'] < 6:
        return 1
    elif x['Unemployment_rate'] <= 10:
        return 0.75
    elif x['Unemployment_rate'] < 15:
        return 0.5
    elif x['Unemployment_rate'] < 22:
        return 0.25
    else:
        return 0

In [93]:
empl['Index_employment'] = empl.apply(assig_values, axis = 1)

In [94]:
empl.head()

       Country  Unemployment_rate  index  Index_employment
0  Afghanistan               1.56   1.00              1.00
1      Albania              13.75   0.50              0.50
2      Algeria              12.00   0.50              0.50
3       Angola               7.14   0.75              0.75
4    Argentina               8.35   0.75              0.75

In [96]:
empl = empl[['Country', 'Index_employment']]

In [99]:
empl.to_csv('../datasets/employment_cleaned.csv')